In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn import model_selection
from sklearn import neighbors
from sklearn import ensemble
from sklearn import tree
from sklearn import svm 
from sklearn import metrics
%matplotlib inline

In [ ]:
df = pd.DataFrame(np.random.randint(low=0, high=2, size=(100, 2)))
df.head()

In [ ]:
df_and = df.copy()

a = []
for i in df_and.index:
    a.append(df_and.loc[i][0] and df_and.loc[i][1])
    
df_and['and'] = a
df_and.head()

In [ ]:
X = df
y = df_and['and']

In [ ]:
MO_models = [neighbors.KNeighborsClassifier(n_neighbors=3), \
             ensemble.RandomForestClassifier(n_estimators=10,n_jobs=5), \
             linear_model.SGDClassifier(), \
             tree.DecisionTreeClassifier(max_depth=2)]

In [ ]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.35)

In [ ]:
for m in MO_models:
    m.fit(X_train, y_train)
    y_pred = m.predict(X_test)
    print(m)
    print(metrics.classification_report(y_test, y_pred))

In [ ]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(999, 1)))
df.head()

In [2]:
def convert_base(num, to_base=10, from_base=10):
    # first convert to decimal number
    if isinstance(num, str):
        n = int(num, from_base)
    else:
        n = int(num)
    # now convert decimal to 'to_base' base
    alphabet = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    if n < to_base:
        return alphabet[n]
    else:
        return convert_base(n // to_base, to_base) + alphabet[n % to_base]

In [ ]:
a = []
for i in df.index:
    a.append(convert_base(df.loc[i][0], to_base=2))

In [ ]:
X = df
y = np.array(a)
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.35)
for m in MO_models:
    print("##############################")
    print(m)
    m.fit(X_train, y_train)
    y_pred = m.predict(X_test)
    n = np.random.randint(low=0, high=10, size=(5, 1))
    n_pred = m.predict(n);
    for i in range(0, n.size):
        print(n[i][0], end=" pred=")
        print(n_pred[i], end=" real=")
        print(convert_base(n[i], to_base=2))
    print(metrics.classification_report(y_test, y_pred))

In [ ]:
def perevodchik(low=0, high=10, size=99999):
    df = pd.DataFrame(np.random.randint(low=low, high=high, size=(size, 1)))
    df.head()
    a = []
    for i in df.index:
        a.append(convert_base(df.loc[i][0], to_base=2))
    X = df
    y = np.array(a)
    X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.35)
    for m in MO_models:
        print("##############################")
        print(m)
        m.fit(X_train, y_train)
        y_pred = m.predict(X_test)
        n = np.random.randint(low=low, high=high, size=(10, 1))
        n_pred = m.predict(n);
        for i in range(0, n.size):
            print(n[i][0], end=" pred=")
            print(n_pred[i], end=" real=")
            print(convert_base(n[i], to_base=2))
        #print(metrics.classification_report(y_test, y_pred))

In [ ]:
perevodchik(0, 30000, 1000)

In [3]:
n = 9999
df = pd.DataFrame(np.random.randint(low=0, high=10000, size=(n, 1)),columns=['num'])
df.head()

    num
0  8741
1  7749
2  1716
3  6495
4   604

In [4]:
def to_list(n, size):
    r = [0 for i in range(0, size)]
    j = size - 1
    while n >= 10:
        r[j] = n % 10
        j -= 1
        n = n // 10
    r[j] = n 
    return r

In [5]:

a = []
arr = np.zeros((n,10), int)
res = np.zeros((n,20), int)
for i in df.index:
    a.append(convert_base(df.loc[i][0], to_base=2))
    #print(df.loc[i][0])
    #print(to_list(df.loc[i][0], 10))
    arr[i] = to_list(df.loc[i][0], 10)
    res[i] = to_list(int(convert_base(df.loc[i][0], to_base=2)), 20)

In [6]:
df_num = pd.DataFrame(data=arr)
df_num.head()

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  8  7  4  1
1  0  0  0  0  0  0  7  7  4  9
2  0  0  0  0  0  0  1  7  1  6
3  0  0  0  0  0  0  6  4  9  5
4  0  0  0  0  0  0  0  6  0  4

In [7]:

X = df_num
y = np.array(res)

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.35)

In [15]:
MO_models = [neighbors.KNeighborsClassifier(n_neighbors=5), \
             ensemble.RandomForestClassifier(n_estimators=10,n_jobs=5)]

for m in MO_models:
    print("##############################")
    print(m)
    m.fit(X_train, y_train)
    '''
    n = 50
    ddd = pd.DataFrame(np.random.randint(low=0, high=100, size=(n, 1)))
    arr = np.zeros((n,10), int)
    for i in ddd.index:
        arr[i] = to_list(ddd.loc[i][0], 10)
    for i in range(0, n):
        print(ddd.loc[i][0], end=" pred=")
        print(n_pred[i], end=" real=")
        print(convert_base(ddd.loc[i][0], to_base=2))
    '''
    y_pred = m.predict(X_test)
    y_pred
    #print(metrics.classification_report(y_test, y_pred))

##############################
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')
##############################
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=5,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
X_test.head(10)

      0  1  2  3  4  5  6  7  8  9
2016  0  0  0  0  0  0  5  0  0  7
383   0  0  0  0  0  0  8  7  9  3
3226  0  0  0  0  0  0  9  8  2  6
5160  0  0  0  0  0  0  5  2  5  5
569   0  0  0  0  0  0  7  9  6  8
8765  0  0  0  0  0  0  0  4  7  3
8067  0  0  0  0  0  0  9  8  0  0
4929  0  0  0  0  0  0  1  6  2  7
1295  0  0  0  0  0  0  6  7  7  3
6087  0  0  0  0  0  0  4  2  3  9

In [19]:
pd.DataFrame(data=y_pred, dtype=np.int64).head(6)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,1,0,0,1,1,1,0,0,0,1,1,1,1
1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0
2,0,0,0,0,0,0,1,0,0,1,1,0,0,1,1,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,1,1
4,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,1,0,1,1,0
5,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,0,0,1

In [18]:
print(convert_base(5007, to_base=2))
print(convert_base(8793, to_base=2))
print(convert_base(9826, to_base=2))
print(convert_base(5255, to_base=2))
print(convert_base(7968, to_base=2))
print(convert_base(473, to_base=2))

1001110001111
10001001011001
10011001100010
1010010000111
1111100100000
111011001

In [23]:
df[df['num'] == 5007]

       num
496   5007
2016  5007

In [26]:
y_pred = MO_models[1].predict(np.array([[0,0,0,0,0,0,0,0,5,1],[0,0,0,0,2,2,2,2,2,2],[0,0,0,2,3,4,6,3,0,1]]))
pd.DataFrame(y_pred, dtype=np.int64).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0
1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,1,1,0
2,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,1,1,0,1

In [27]:
print(convert_base(51, to_base=2))
print(convert_base(222222, to_base=2))
print(convert_base(2346301, to_base=2))

110011
110110010000001110
1000111100110100111101