## Homework 2.2 Pandas

1. Скачайте этот ноутбук к себе.
2. Заполните пропущенные ячейки, отвечая на заданные вопросы. Там должен быть код! (если не сказано обратное)
3. Сохраните результат в своём гитхаб репозитории.

#### Полезная литература

- http://pandas.pydata.org/pandas-docs/stable/10min.html
- https://pandas.pydata.org/pandas-docs/stable/indexing.html
- https://pandas.pydata.org/pandas-docs/stable/missing_data.html

В этом задании мы с вами рассмотрим датасет [Adult Data Set](https://archive.ics.uci.edu/ml/datasets/Adult).
Основывается он на данных переписи населения 1994 года в США.

Расшифровка содержимого колонок:

- age: continuous. 
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
- fnlwgt: continuous. sampling weight, more here: SIPP Weighting.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
- education-num: continuous. 
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
- sex: Female, Male. 
- capital-gain: continuous. Income from investment sources, apart from wages/salary.
- capital-loss: continuous. Losses from investment sources, apart from wages/salary.
- hours-per-week: continuous. 
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [1]:
%matplotlib inline
import pandas as pd
pd.__version__

'0.23.4'

In [2]:
columns='age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income'.split(',')
df = pd.read_csv('data_adult.csv.gz', na_values='?') # можно загрузить из файла или URL
# df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', na_values='?', names=columns)
df.head(100)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,NaN,172175,Doctorate,16,Never-married,NaN,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,NaN,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,NaN,135285,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,49,Private,199029,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,55,United-States,>50K
71,47,Self-emp-not-inc,145290,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
72,41,Local-gov,297248,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K
73,55,Self-emp-inc,227856,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
74,39,Private,179731,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,65,United-States,>50K
75,42,Private,154374,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,60,United-States,>50K
76,41,NaN,27187,Assoc-voc,11,Married-civ-spouse,NaN,Husband,White,Male,0,2415,12,United-States,>50K
77,46,Private,326857,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,2415,65,United-States,>50K
78,40,Private,160369,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,45,United-States,>50K
79,32,Private,396745,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,48,United-States,>50K
80,41,Self-emp-inc,151089,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,55,United-States,>50K
81,60,Self-emp-inc,336188,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,80,United-States,>50K
82,31,Private,279015,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,70,Taiwan,>50K
83,58,Self-emp-not-inc,43221,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,40,United-States,>50K
84,37,Self-emp-inc,30529,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,50,United-States,>50K
85,44,Self-emp-not-inc,201742,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
86,39,Self-emp-not-inc,218490,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,50,NaN,>50K
87,43,Federal-gov,156996,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,55,NaN,>50K
88,55,Self-emp-inc,298449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
89,44,Self-emp-inc,191712,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,55,United-States,>50K
90,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
91,46,Self-emp-not-inc,102308,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,2415,40,United-States,>50K
92,39,Private,348521,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,99,United-States,>50K
93,62,Self-emp-inc,56248,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,60,United-States,>50K
94,31,Self-emp-not-inc,252752,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,2415,40,United-States,>50K
95,46,Private,192963,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,2415,35,Philippines,>50K
96,46,Self-emp-not-inc,198759,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,80,United-States,>50K
97,39,Self-emp-inc,143123,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2415,40,United-States,>50K
98,39,Private,237713,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0,2415,99,United-States,>50K
99,59,Private,81929,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K

_Начало анализа датасета в воркшопе_

9) Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [3]:
df_less = df[df['income'] == "<=50K"] 
df_more = df[df['income'] == ">50K"]

print(df_less['age'].mean(axis=0))
print(df_more['age'].mean(axis=0))

print(df_less['age'].std())
print(df_more['age'].std())

36.78373786407767
44.24984058155847
14.020088490824829
10.519027719851769

10) Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [4]:
df_more = df[df['income'] == ">50K"]

d = df_more[df_more['education.num'] > 10]

#print(d)
#print(d['education.num'].count())
#print(df_more['education.num'].count())

if d['education.num'].count() == df_more['education.num'].count():
    print("ДА")
else:
    print("НЕТ")

НЕТ

11) Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [5]:
df_more = df[df['income'] == ">50K"]

df_more_married_count = (df_more[(df_more['marital.status'] == "Married-AF-spouse") | (df_more['marital.status'] == "Married-spouse-absent") | (df_more['marital.status'] == "Married-civ-spouse")])['age'].count()
df_more_not_married_count = (df_more[(df_more['marital.status'] != "Married-AF-spouse") & (df_more['marital.status'] != "Married-spouse-absent") & (df_more['marital.status'] != "Married-civ-spouse")])['age'].count()

print(df_more_married_count)
print(df_more_not_married_count)

print("женатых >")

6736
1105
женатых >

12) Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [91]:
import numpy as np

df_less = df[df['income'] == "<=50K"] 
df_more = df[df['income'] == ">50K"]

countries = df['native.country'].drop_duplicates().dropna().values

mean_hpw_less = [0 for i in range(0, np.size(countries))]
mean_hpw_more = [0 for i in range(0, np.size(countries))]

for i in range(0, np.size(countres)):
    mean_hpw_less[i] = (df_less[df_less['native.country'] == countries[i]])['hours.per.week'].mean()
    mean_hpw_more[i] = (df_more[df_more['native.country'] == countries[i]])['hours.per.week'].mean()
    
print("Меньше 50К")
for i in range(0, np.size(countres)):
    print(countres[i], end=' ')
    print(mean_hpw_less[i])

print(" ")
print("Больше 50К")
for i in range(0, np.size(countres)):
    print(countres[i], end=' ')
    print(mean_hpw_more[i])

Меньше 50К
United-States 38.79912723305605
Mexico 40.00327868852459
Greece 41.80952380952381
Vietnam 37.193548387096776
China 37.38181818181818
Taiwan 33.774193548387096
India 38.233333333333334
Philippines 38.065693430656935
Trinadad&Tobago 37.05882352941177
Canada 37.91463414634146
South 40.15625
Holand-Netherlands 40.0
Puerto-Rico 38.470588235294116
Poland 38.166666666666664
Iran 41.44
England 40.483333333333334
Germany 39.13978494623656
Italy 39.625
Japan 41.0
Hong 39.142857142857146
Honduras 34.333333333333336
Cuba 37.98571428571429
Ireland 40.94736842105263
Cambodia 41.416666666666664
Peru 35.06896551724138
Nicaragua 36.09375
Dominican-Republic 42.338235294117645
Haiti 36.325
El-Salvador 36.03092783505155
Hungary 31.3
Columbia 38.68421052631579
Guatemala 39.36065573770492
Jamaica 38.23943661971831
Ecuador 38.041666666666664
France 41.05882352941177
Yugoslavia 41.6
Scotland 39.44444444444444
Portugal 41.93939393939394
Laos 40.375
Thailand 42.86666666666667
Outlying-US(Guam-USVI-etc) 41.857142857142854

Больше 50К
United-States 45.50536884674383
Mexico 46.57575757575758
Greece 50.625
Vietnam 39.2
China 38.9
Taiwan 46.8
India 46.475
Philippines 43.032786885245905
Trinadad&Tobago 40.0
Canada 45.64102564102564
South 51.4375
Holand-Netherlands nan
Puerto-Rico 39.416666666666664
Poland 39.0
Iran 47.5
England 44.53333333333333
Germany 44.97727272727273
Italy 45.4
Japan 47.958333333333336
Hong 45.0
Honduras 60.0
Cuba 42.44
Ireland 48.0
Cambodia 40.0
Peru 40.0
Nicaragua 37.5
Dominican-Republic 47.0
Haiti 42.75
El-Salvador 45.0
Hungary 50.0
Columbia 50.0
Guatemala 36.666666666666664
Jamaica 41.1
Ecuador 48.75
France 50.75
Yugoslavia 49.5
Scotland 46.666666666666664
Portugal 41.5
Laos 40.0
Thailand 58.333333333333336
Outlying-US(Guam-USVI-etc) nan

13) Постройте сводную таблицу для сравнения уровня образования и разницы между capital.gain и capital.loss (то есть пассивный доход). Сделайте так, чтобы capital.gain - capital.loss создали не больше 10 разных уникальных значений. То есть, gain и loss - это числа в каком-то диапазоне. Это количественные признаки из вещественных чисел. С помощью математических функций, типа log, извлечение корня N-ой степени и округления можно перейти к категориальным признакам.

14) Женщины из каких стран получают в среднем большую зарплату (>50K) чаще.

In [94]:
df_more_female = df[(df['income'] == ">50K") & (df['sex'] == 'Female')]

countries = df['native.country'].drop_duplicates().dropna().values

mean = [ 0 for i in range(0, np.size(countres))]

for i in range(0, np.size(countries)):
    mean[i] = (countries[i], (df_more_female[df_more_female['native.country'] == countries[i]])['age'].count() )


mean = sorted(mean, key=lambda x: x[1])[::-1]  #reverse почему то не работает ,а [::-1] работает

print("ТОП 10 стран")
for i in range(0, min(10, len(mean))):
    print(mean[i])

ТОП 10 стран

TypeError: object of type 'builtin_function_or_method' has no len()

15) Создайте случайную колонку - magic_salary, которую нужно будет вычислить следующим образом: если зарплата небольшая (<50K), тогда случайно выберите число из диапазона [0,50]. Если зарплата выше 50K тогда из диапазона [51, 200]. Посчитайте среднюю зарплату в час для групп людей с одни уровнем образования на основе нашей случайной колонки magic_salary

In [93]:
import random

values = [0 for i in range(0, len(df))]

for i in range(0, len(df)):
    if df['income'][i] == "<=50K":
        values[i] = random.randint(0, 50)
    else:
        values[i] = random.randint(51, 200)
    
#df['magic.salary'] = pd.Series([0 for i in df], index=df.index) 
df['magic.salary'] = pd.Series(values, index=df.index)



mean_salary = [0 for i in range(0, df['education.num'].max() - 1)]

for i in range(1, len(mean_salary) + 1):
    mean_salary[i - 1] = (df[df['education.num'] == i])['magic.salary'].mean()

mean_salary
#Это магия или я неправильно сделал?

[22.96078431372549,
 27.928571428571427,
 31.09009009009009,
 30.78018575851393,
 29.40272373540856,
 31.458735262593784,
 29.937872340425532,
 32.95842956120092,
 41.20131416055614,
 44.09312851460705,
 50.58176555716353,
 49.72633552014995,
 66.01064425770308,
 81.07544979686593,
 97.91840277777777]